body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(45deg, lightgreen, orange, pink);
    background-size: 500% 500%;
    animation: infinite backgrounded 10s  ;
}

header{
    color: orange;
    background: black;
    text-align: center;
    margin-bottom: 50px;
}

img{
    margin-top: -20px;
    margin-bottom: 30px;
    height: 165px;
    width: 120px;
}

img:hover{
    transform: scale(110%);
}

main{
    text-align: center;
}

@keyframes backgrounded{

    0%{
        background-position: 50% 100%;
    }
    
    50%{
        background-position: 100% 25%;
    }

    100%{
        background-position:  50% 100%;
    }
}